body {
  margin: 20px;
}

.header {
  padding: 1px;
  text-align: center;
  background: #e0e0e0;
  color: black;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", sans-serif;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-family: Arial, Garamond, sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", sans-serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", sans-serif;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.navigation_list_item {
	background-color: #000000;
	color: #fff;
	min-width: 100px;
	padding: 0 20px;
	border-right: 2px solid #fff;
	line-height: 50px;
	font-weight: bold;
	/* centre the textula contents of a tag */
	text-align: center;
  font-family: "Lucida Console", "Courier New", sans-serif;
}

.navigation_link{
	color: inherit;
	text-decoration: none;
	min-width: inherit;
	display: block;
	height: 50px;
  
}

.navigation_list_item:hover {
	background-color: #0068cf;
  color: #fff;
}

.navigation_list_item:first-of-type {
	border-left: 1px solid #fff;
	margin-left: 0px; 
}

#nav_ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
}

footer {
  padding: 40px 0;
  background-color: #e0e0e0;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #55ACEE;
  color: white;
}

/* Google */
.fa-google {
  background: #f83333;
  color: white;
}

#web_ul {
  list-style-type: none;
  list-style-image: none;
  margin: 10px;
  padding: 0;
  background-color: #fff;
}

.web_list_item {
	background-color: #fff;
	color: #fff;
	min-width: 100px;
	padding: 0 10px;
	border-right: 2px solid #fff;
	line-height: 50px;
	font-weight: bold;
	text-align: left;
  	font-family: "Lucida Console", "Courier New", sans-serif;
}

.web_link{
	color: green;
	text-decoration: none;
	min-width: inherit;
	display: block;
	height: 50px;
}

.web_list_item:hover {
	background-color: #000000;
  	color: #fff;
}
